# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Vercel
.vercel

# Testing / coverage
coverage

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
*.local
